# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

# Compiled Go binaries
*App

# IDE-specific files
.idea/
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Log files
*.log

# Environment variables
.env

# Docker volumes
db-data/
caddy_data/
caddy_config/

# Temporary files
*.tmp
*.bak
*.swp

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a

# Debug files
debug

# RabbitMQ specific
*.mnesia

# Ignore all files in the db-data directory
db-data/**
!db-data/.gitkeep

# Ignore build artifacts
dist/
build/

# Ignore any local configuration files
config.local.yaml